<% layout("/layouts/boilerplate.ejs")%>

<div class="container mt-5">
  <h1 class="mb-4 text-center">Edit Your Listing</h1>
  <div class="card p-4 shadow-sm">
    <form
      method="POST"
      action="/listings/<%= result.id %>?_method=PUT"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="x[title]"
          placeholder="Title"
          value="<%= result.title %>"
          required
        />
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          class="form-control"
          id="description"
          name="x[description]"
          placeholder="Description"
          rows="3"
          required
        >
          <%= result.description %></textarea
        >
      </div>

      <div class="row">
        <div class="col-3">
          <img
            src="<%= result.image.url %>"
            alt="original image"
            class="img-fluid"
          />
          <p><i>Original image</i></p>
        </div>
      </div>

      <div class="mb-3">
        <label for="imageUrl" class="form-label">Update your Image</label>
        <input
          type="file"
          class="form-control"
          id="imageUrl"
          name="x[image]"
          placeholder="Image"
        />
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input
          type="number"
          class="form-control"
          id="price"
          name="x[price]"
          placeholder="Price"
          value="<%= result.price %>"
          required
        />
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          class="form-control"
          id="location"
          name="x[location]"
          placeholder="Location"
          value="<%= result.location %>"
          required
        />
      </div>

      <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <input
          type="text"
          class="form-control"
          id="country"
          name="x[country]"
          placeholder="Country"
          value="<%= result.country %>"
          required
        />
      </div>

      <button type="submit" class="btn btn-primary w-100">
        Update Listing
      </button>
    </form>
  </div>
</div>
